<%= form_tag "/search", method: :post, class: 'search-form' do %>
  <div>
    <span class='smoogle'>Shmoogle</span>
    <%= text_field_tag :query, @query, class: 'search-field' %>
    <%= submit_tag 'Search', class: 'search-button' %>
  </div>
<% end %>
